{% extends 'base.html' %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <img src="/static/images/yash.jpg" class="card-img-top" alt="It's ME Only">
        <div class="card-body">
          <h5 class="card-title">Hello Workd!</h5>
          <p class="card-text">I am Yash Bhawsar, working as a Software Enginer. would love to connect with you.</p>
          <a href="https://www.linkedin.com/in/yashbhawsar872/" class="btn btn-primary">Let's Connect! 👍</a>
        </div>
    </div>
    
    

{% endblock %}